<!DOCTYPE html>
<html lang="en" id="top" class="html">

<head class="head" id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API v1 | Hauknetz </title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="body" id="body">
    <div class="container" id="container">
        <header class="header" id="header">
            <div class="logo">
                <img src="../img/logo.png" alt="Hauknetz logo">
            </div>
            <nav class="nav" id="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#introduction" class="nav-link">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#utils" class="nav-link">Utils</a>
                    </li>
                    <li class="nav-item">
                        <a href="#middlewares" class="nav-link">Middlewares</a>
                    </li>
                    <li class="nav-item">
                        <a href="#routes" class="nav-link">Routes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#database" class="nav-link">Database</a>
                    </li>
                    <li class="nav-item">
                        <a href="#discord-bot-integration" class="nav-link">Discord Bot Integration</a>
                    </li>
                    <li class="nav-item">
                        <a href="#templates" class="nav-link">Templates</a>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <input type="text" placeholder="Search..." autocomplete="off" autocapitalize="off" />
            </div>
        </header>

        <main class="main" id="main">

        </main>

        <footer class="footer" id="footer">
            <p>&copy; 2024 Hauknetz. All rights reserved.</p>
            <nav class="social-nav" id="social-nav">
                <ul class="social-nav-list">
                    <li class="social-nav-item">
                        <a href="#" class="social-nav-link">
                            <img src="img/facebook.png" alt="Facebook logo">
                        </a>
                    </li>
                    <li class="social-nav-item">
                        <a href="#" class="social-nav-link">
                            <img src="img/twitter.png" alt="Twitter logo">
                        </a>
                    </li>
                    <li class="social-nav-item">
                        <a href="#" class="social-nav-link">
                            <img src="img/instagram.png" alt="Instagram logo">
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>